body{
    background-color: #f7f7f7;
}

#author-photo{
    border-radius: 50%;
}

#title, .subtitle, .post-title{
    color: #505050;
}

.post{
    background-color: #FFF;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post-title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post-image{
    margin-bottom: 15px;
}

.post-content{
    margin: 0;
    margin-bottom: 15px;
}