body{
    background-color: #ccc;
}

#title, .subtitle, .post-title{
    color: blue;
}

.post{
    background-color: #FFF;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
}

.post-title{
    font-size: 16px;
    font-style: italic;
}